<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
    <title>Scrape the Web</title>
</head>

<body>
    <nav>
        <div class="nav-wrapper grey darken-3">
            <a href="#" class="brand-logo">Mongo Scraper</a>
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>
                    <a href="#">Home</a>
                </li>
                <li>
                    <a href="#">Scrape</a>
                </li>
            </ul>
        </div>
    </nav>
    <div id="index-banner" class="parallax-container">
        <div class="section no-pad-bot">
            <div class="container">
                <br>
                <br>
                <h1 class="header center black-text">The Verge</h1>
                <div class="row center">
                    <h5 class="header col s12 light">The Verge was founded in 2011 in partnership with Vox Media, and covers the intersection of technology, science, art, and culture.</h5>
                </div>
                <div class="row center">
                    <a href="#" id="scrape-button" class="btn-large waves-effect waves-light teal lighten-1">Scrape Articles</a>
                </div>
                <br>
                <br>

            </div>
        </div>
        <div class="parallax">
            <img src="https://picsum.photos/200/300/?random" alt="Unsplashed background img 1">
        </div>
    </div>


    <main>
        <div class="container">
            {{{ body }}}
        </div>
    </main>

    <!-- jQuery, Compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <script  type="text/javascript" src="app.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.8/js/materialize.min.js"></script>
</body>
<html>